@media (max-width: 1450px) {
  .navbar-light .navbar-nav .nav-link, 
  #contact_btn_header, 
  #dropdownMenuButton, 
  .dropdown-item {
    font-size: 14px;
  }
  
  #blog_row {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .navbar-light .navbar-nav .nav-link, 
  #contact_btn_header, 
  #dropdownMenuButton, 
  .dropdown-item {
    font-size: 12px;
  }

  #latest_news {
    width: 100%;
  }

  .news_description {
    padding: 0px;
  }
}

@media (max-width: 991px) {
  #settings_modal {
    .col-md-4 {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .modal-footer {
      display: block;
    }

    button {
      width: 100%;
      margin: 5px 0px !important;
    }

    .modal-content {
      margin-bottom: 100px;
    }
  }

  #logo {
    width: 60%;
    max-height: initial;
  }

  .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
  }

  #contact_btn_header {
    display: inline-block;
    margin: 5px 0;
    border-radius: .25rem;
  }

  .navigation {
    position: relative !important;
    margin-top: 0 !important;
  }

  .page-headings {
    font-size: 1.8rem;
  }

  .page-content {
    font-size: 0.9rem;
  }

  footer {
    text-align: center;
  }

  .main_image {
    margin-top: 0 !important;
  }

  #social_media_div {
    padding: 10px 0;
  }

  #slider {
    padding: 0 !important;
  }

  .section {
    margin: 0;
  }

  .slider-text {
    width: 100%;
    padding: 15px;

    h3 {
      font-size: 17px;
      width: 100%;
    }

    p {
      font-size: 13px;
      width: 100%;
    }

    img {
      height: 13rem !important;
    }
  }

  .carousel-item img {
    height: auto;
  }

  .navbarSupportedContent {
    width: 50% !important;
  }

  #blog_section_heading, 
  #companies_heading, 
  #about_us_heading {
    font-size: 18px;
    margin: 0 !important;
    margin-top: 15px !important;
  }

  #about_us_text {
    font-size: 14px;
    margin: 0 !important;
  }

  #companies img {
    padding: 20px;
  }

  .news_description {
    padding: 5px;
    font-size: 14px;
  }

  #view_all_news {
    font-size: 15px;
    width: 50%;
  }

  .navigation {
    display: none;
  }

  .navigation_responsive {
    display: block;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }

  #responsive_menu_icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  #close_hidden_menu {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .responsive_menu_link {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    list-style: none;
    text-decoration: none;
    color: #3E3E3E !important;
    margin-left: 0;
    font-size: 18px;
    font-weight: 600;
  }

  .responsive_menu_sublink {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    list-style: none;
    text-decoration: none;
    color: #3E3E3E !important;
    margin-left: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0;
  }

  .captcha img {
    width: 37%;
    border: 2px solid lightgrey;
  }

  #contact_modal {
    h2 {
      font-size: 22px;
    }

    input::placeholder, textarea::placeholder, p, button {
      font-size: 15px;
    }
  }

  #contact_send_btn {
    width: 100%;
  }

  .company_images {
    width: 50%;
  }

  #top_footer {
    padding: 0;
  }

  #footer_about_text, 
  .news_wrapper {
    padding: 20px;
  }

  .news_heading {
    font-size: 17px;
  }

  .main_page_container {
    margin-top: 0;
  }

  .article_heading {
    font-size: 22px;
  }

  .article_content {
    font-size: 15px;
  }

  .gmap_canvas {
    width: 500px!important;
  }

  //single article
  #single_article,
  #latest_news {
    width: 100%!important;
  }

  .news_heading,
  .news_body {
    height: auto!important;
  }

}

@media (max-width: 525px) {
  #accept_cookies_btn, 
  #cookie_settings_btn {
    width: initial;
  }

  #cookie_modal .modal-body div, 
  #settings_modal .modal-body div {
    font-size: 14px;
  }

  .custom_row_head {
    font-size: 18px;
  }

  .academic_group {
    font-size: 16px;
  }

  .custom_row {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  #accept_cookies_btn, 
  #cookie_settings_btn {
    font-size: 13px;
    height: 50px;
  }
}

//RECENT PUBLICATIONS
@media (min-width: 1550px) and (max-width: 1800px){
  .publication-summary {
    min-height: 300px!important;
  }
}

@media (min-width: 1275px) and (max-width: 1549px){
  .publication-summary {
    min-height: 350px!important;
  }
}

@media (min-width: 991px) and (max-width: 1274px){
  .publication-summary {
    min-height: 460px!important;
  }
}

//single article
@media(max-width: 500px) {
  .news_heading,
  .article_subheading {
    font-size: 14px!important;
  }
  .article_content {
    font-size: 12px!important;
  }
  .article_heading {
    font-size: 17px!important;
  }
  #single_article {
    p,
    ul li {
      font-size: 13px!important;
    }
    ul li {
      margin-bottom: 10px;
    }
  }
}

@media(max-width: 850px) {
  #single_article_cover {
    display: none;
  }
  #single_article_container {
    margin-top: 0px!important;
  }
}

@media(min-width: 851px) and (max-width: 1400px) {
  #single_article_container {
    margin-top: -300px!important;
  }
}

@media(min-width: 992px) and (max-width: 1099px) {
  .news_heading {
    font-size: 14px;
  }
  .news_body {
    min-height: 415px;
  }
}

@media(min-width: 1100px) and (max-width: 1279px) {
  .news_heading {
    font-size: 15px;
  }
  .news_body {
    min-height: 430px;
  }
}

@media(min-width: 1280px) and (max-width: 1610px) {
  .news_body {
    min-height: 390px;
  }
  .news_heading {
    font-size: 17px;
  }
}

//recent publications
@media(max-width: 991px){
  .details .col-lg-6 {
    display: none;
  }
  .details .col-lg-12 {
    display: block;
  }
  .publication-img {
    width: 60%!important;
    margin: 0 auto;
  }
}

@media(max-width: 712px){
  .publication-heading {
    font-size: 18px;
  }
}

@media(max-width: 459px){
  .publication-heading {
    font-size: 14px;
    min-height: 90px;
  }
  .publication-img {
    width: 80%!important;
  }
}

@media(min-width: 992px) and (max-width: 1650px){
  .publication-heading {
    font-size: 17px;
  }
}